.allProjects_container {
    width: 90%;
    padding: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previous_projects {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* flex-wrap: wrap; */
}

.blur {
    filter: blur(5px);
}